<!-- The styles -->
<link id="bs-css" href="ui/charisma/css/bootstrap-cerulean.min.css" rel="stylesheet">
<link href="ui/charisma/css/charisma-app.css" rel="stylesheet">
<link href='ui/charisma/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
<link href='ui/charisma/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
<link href='ui/charisma/bower_components/chosen/chosen.min.css' rel='stylesheet'>
<link href='ui/charisma/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
<link href='ui/charisma/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
<link href='ui/charisma/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
<link href='ui/charisma/css/jquery.noty.css' rel='stylesheet'>
<link href='ui/charisma/css/noty_theme_default.css' rel='stylesheet'>
<link href='ui/charisma/css/elfinder.min.css' rel='stylesheet'>
<link href='ui/charisma/css/elfinder.theme.css' rel='stylesheet'>
<link href='ui/charisma/css/jquery.iphone.toggle.css' rel='stylesheet'>
<link href='ui/charisma/css/uploadify.css' rel='stylesheet'>
<link href='ui/charisma/css/animate.min.css' rel='stylesheet'>