<?xml version="1.0" encoding="UTF-8"?>
<configuration>

     <appender name="default" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/nh/logs/joke/back.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-5level][%d{yyyy-MM-dd HH:mm:ss}] - [%logger{15}] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level][%d{yyyy-MM-dd HH:mm:ss}] - [%logger{15}] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.springframework.scheduling">
        <level value="info" />
    </logger>

    <root level="debug">
        <appender-ref ref="default"/>
    </root>

</configuration>